.kathleen {
  padding-top: 100px;
}

.kathleen h1{
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 600;
  color:#444;
}

.kathleen h2 {
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 400;
  color:#999;

}